<h3>Patient #<%= @scenario.id %> <%= @scenario.name %></h3>

<div class='dropdown'>
    <a role='button' id='dLabel' class='btn btn-primary' id='dropdownMenu1' data-toggle='dropdown'>Navigation <span class='caret'></span></a>
	<ul class='dropdown-menu' role='menu' aria-labelledby="dropdownMenu1">
	    <% @nav_sections.each do |section| %>
	        <li role='presentation'> <span role ='menuitem' class='menu_link indent<%= section.depth %>'><%= link_to section.name, section %></span></li>
	    <% end %>
	</ul>
</div>

<h2><%= @section.name %></h2>

<%= raw @section.desc %>

<% @inquests.each do |inquest| %>
      <li class='inquest_label' ng-click='inquest<%=inquest.id%>.show = !inquest<%=inquest.id%>.show'><a href=''><%=inquest.label%></a></li>
      <div class='inquest_content' ng-show='inquest<%=inquest.id%>.show'>
          <%= raw inquest.content%>
      </div>
<% end %>